<%= render 'books/list', book: @book, user: current_user %>
<h1>Users</h1>
  <table class="table">
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  </table>
<% @users.each do |user| %>
 <tbody>
   <tr>
     <td>
       image
     </td>
     <td>
       
     </td>
     <td>
       show
     </td>
   </tr>
 </tbody>
 
<% end %>